<header class="header-navigation" id="header">
    <nav>
        <div class="logo"><a href="#">这是一个大标题</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
            <li><a href="index.html?type=0" class="active">首页</a></li>
            <li><a href="index.html?type=1&title=SpringBoot">SpringBoot</a></li>
            <li><a href="index.html?type=2&title=SpringCloud">SpringCloud</a></li>
            <li><a href="index.html?type=3&title=Redis">Redis</a></li>
            <li><a href="index.html?type=4&title=搜索引擎">搜索引擎</a></li>
            <li><a href="index.html?type=5&title=框架">框架</a></li>
            <li><a href="gbook.html?type=6">留言</a></li>
        </ul>
    </nav>
</header>