<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>blog index</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/blog.cmn.css">
</head>
<body>
<div id="blogheader"></div>
<article>
    <div id="blogaside"></div>
    <main class="r_box">
        <ul class="about">
            留言插件安装

        </ul>
    </main>
</article>
<div id="blogfooter"></div>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/hc-sticky.js"></script>
<script type="text/javascript" src="js/blog.cmn.js"></script>
<script type="text/javascript">
    $("#blogheader").load("public/header.html");
    $("#blogaside").load("public/aside.html");
    $("#blogfooter").load("public/footer.html", function () {
        var sc = document.createElement("script");
        sc.src = "js/blog.cmn.js";
        $("body").append(sc);
    })
</script>
</body>
</html>
