<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>login</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
<body>
<form method="post" action="index/login" style="text-align:center;margin-top:20%">
    <input type="text" name="username" autocomplete="off" required>
    <input type="password" name="password" value="999999" hidden>
    <br><br>
    <button type="submit">游客</button>
</form>
</body>
</html>